$font-size: 20px;

.wrapper {
  background-color: aquamarine;

  &__title {
    display: flex;
    justify-content: space-between;
    color: blue;
    color: red;
  }

  &__text {
    color: chocolate;
    font-size: $font-size;
  }
}